:root {
    --color-primary: #667eea;
    --color-secondary: #764ba2;
    --color-tertiary: #FFF9EB;
    --color-add-button: #6a5acd;
    --color-button: #fe652b;
    --color-button-hover: #e55720;
    --color-text: #444444;
    --color-text-2: #6a5acd;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(to right,#667eea,#764ba2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center; /* alinha horizontalmente */
    align-items: center; /* alinha verticalmente */
    padding: 5px; /* padding mais confortável */
    gap: 20px; /* espaçamento mais consistente entre o textoe a imagem */
}

/* Seção de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-white);
    border: none; /* remove a borda da caixa */
    border-radius: 30px 30px 0 0; /* deixa os cantos da caixa mais suaves */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* padding mais confortável */
    width: 100%;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.1); /* sombra suave */
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: "Montserrat", "Inter", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--color-white);
    margin-right: 20px; /* Adiciona espaço entre o texto e a imagem */
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-text-2);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #ccc;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-add {
    background-color: var(--color-add-button);
    color: var(--color-white);
    border: none;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.button-add:hover {
    background-color: #5948b1; /* Slightly darker gray */
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: #05DF05;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 280px;
    padding: 12px 20px;
    color: var(--color-white);
    background-color: var(--color-button);
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

.button-draw img {
    margin-right: 20px;
}

.button-draw:hover {
    background-color: var(--color-button-hover); /* Slightly darker orange */
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}
